/*---- General ----*/
* {
  box-sizing: border-box;
}

:root {
--text-color: red;
}

body {
  font-family: Roboto;
  background-color: #fafafa;
}

section {
  margin-top: 100px;
}

/*---- Header ----*/
header {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  left: 0;
  min-height: 69px;
  background-color: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 37px;
  color: #ffffff;
}

/*---- Quizzes page ----*/
.user-quizzes-list h2,
.all-quizzes-list h2 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

.all-quizzes-list h2 {
  margin-bottom: 14px;
}

.user-quizzes-list {
  margin: 0 auto 38px auto;
  width: 340px;
}

.all-quizzes-list {
  margin: 0 auto;
  width: 340px;
}

.user-quizzes-list ul,
.all-quizzes-list ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.user-quizzes-list__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 13px;
}

.user-quizzes-list__header ion-icon {
  color: #ec362d;
  width: 31px;
  height: 31px;
}

.user-quizzes-list__empty-list {
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 340px;
  height: 181px;
  padding: 0 50px;
}

.user-quizzes-list__empty-list p {
  font-family: Roboto;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #b9b9b9;
  font-style: normal;
  font-weight: normal;
}

.user-quizzes-list__empty-list button {
  border: 1px dashed #ec362d;
  background: none;
  color: #ec362d;
  border-radius: 20px;
  font-family: Roboto;
  font-size: 21px;
  line-height: 25px;
  padding: 5px 10px;
}

.quizz-preview {
  border-radius: 5px;
  width: 340px;
  height: 181px;
  position: relative;
}

.quizz-preview img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quizz-preview__linear-gradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
  );
  /* background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)); */
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 18px 10px 18px;
  position: absolute;
  top: 0;
  left: 0;
}

.quizz-preview p {
  font-family: Roboto;
  font-size: 19px;
  line-height: 22px;
  color: #ffffff;
  max-width: 100%;
  overflow: hidden;
}

/*---- Answer quizz page ----*/
section.answer-quizz {
  margin-top: 69px;
}

.answer-quizz__header {
  position: relative;
  width: 100%;
  height: 142px;
  margin: 0 auto 24px auto;
}

.answer-quizz__header img {
  height: 142px;
  width: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

.answer-quizz__header h3 {
  font-size: 39px;
  font-weight: 400;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

section.answer-quizz div.questions--1,
section.answer-quizz div.questions--2,
section.answer-quizz div.questions--3,
section.answer-quizz div.questions--4,
section.answer-quizz div.questions--5,
section.answer-quizz div.questions--6 {
  background-color: #ffffff;
  width: 100%;
  max-width: 759px;
  margin: 0 auto; 
  padding: 15px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.answer-quizz__question-tittle--1,
.answer-quizz__question-tittle--2,
.answer-quizz__question-tittle--3,
.answer-quizz__question-tittle--4,
.answer-quizz__question-tittle--5,
.answer-quizz__question-tittle--6 {
  background-color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 759px;
  margin-bottom: 10px;
  width: 100%;
  height: 138px;
}

.answer-quizz__question-tittle--1 h4,
.answer-quizz__question-tittle--2 h4,
.answer-quizz__question-tittle--3 h4,
.answer-quizz__question-tittle--4 h4,
.answer-quizz__question-tittle--5 h4,
.answer-quizz__question-tittle--6 h4 {
  font-weight: 700;
  font-size: 23px;
  color: #ffffff;
  word-break: break-word;
  text-align: center;
}

.answer-quizz__answers--1,
.answer-quizz__answers--2,
.answer-quizz__answers--3,
.answer-quizz__answers--4,
.answer-quizz__answers--5,
.answer-quizz__answers--6 {
  display: flex;
  flex-wrap: wrap;
  /* Se quiser deixar a terceira opção no meio é só mudar essa propriedade para center */
  justify-content: space-between;
  gap:1px
}

.answers {
  width: 49%;
  max-width: 350px;
  max-height: 220px;
  display: flex;
  flex-direction: column;
}

.answers img {
  width: 100%;
  /* Se eu tirar o height, tem algumas imagens que bugam ficando umas mais largas que outras */
  height: 100%;
  max-height:  180px;
  min-height: 120px;
  object-fit: cover;
  margin-bottom: 8px;
}

.answers span {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  word-break: break-word;
  align-self: flex-start;
  margin-bottom: 10px;
}

.quizz-result {
  padding: 15px;
  width: 100%; 
  max-width: 759px;
  margin: 0 auto 57px auto;
  background-color: #fff; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

div.quizz-result__header {
  width: 100%;
  height: 99px;
  margin: 0 auto;
  background: #EC362D;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.quizz-result__header h4{
  font-weight: 700;
  font-size: 23px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  word-break: break-word;
}


.quizz-result__level {
  display: flex;
}

.quizz-result__level img {
  width: 50%;
  object-fit: cover;
}

.quizz-result__level span {
  font-size: 19px;
  font-weight: 700;
  color: #484848;
  margin-left: 15px;
  word-break: break-word;
}

div.answer-quizz__buttons{
  width: 100%;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button.answer-quizz__play-again-button {
  width: 261px;
  height: 52px;
  background-color: #EC362D;
  border-radius: 15px;
  border: none;
  color: #FFF5F4;
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 16px;
}

.answer-quizz__home-button{
  border: none;
  font-size: 21px;
  font-weight: 400;
  color: #818181;
  background-color: #FAFAFA;
  margin-bottom: 30px;
}

/*---- Create quiz page ----*/
.quiz-creation {
  /* min-width: 375px; */
  width: 100vw;
  max-width: 600px;
  margin: 100px auto 0 auto;
}

.quiz-creation > div > h2 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin: 0 auto 29px auto;
  text-align: center;
}

.quiz-creation form {
  background-color: #ffffff;
  padding: 20px 17px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 29px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.quiz-creation__questions form,
.quiz-creation__levels form {
  gap: 14px;
}

.quiz-creation__questions--large-margin-bottom {
  margin-bottom: 18px;
}

.quiz-creation input {
  border-radius: 5px;
  background-color: #ffffff;
  border: #ec362d;
  border: 1px solid #d1d1d1;
  font-size: 19px;
  font-weight: 400;
  height: 46px;
  padding-left: 10px;
}

.quiz-creation input::placeholder {
  font-style: italic;
  color: #bababa;
}

.quiz-creation textarea {
  border-radius: 5px;
  background-color: #ffffff;
  border: #ec362d;
  border: 1px solid #d1d1d1;
  font-size: 19px;
  font-weight: 400;
  height: 177px;
  padding-left: 10px;
  resize: none;
  font-family: Roboto;
}

.quiz-creation textarea::placeholder {
  font-style: italic;
  color: #bababa;
}
.quiz-creation h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

.quiz-creation button {
  border-radius: 15px;
  border: none;
  background-color: #ec362d;
  color: #fff5f4;
  font-size: 20px;
  padding: 18px 0;
  text-align: center;
  width: calc(100vw - 50px);
  max-width: 550px;
  margin: 0 auto;
  transform: translateX(25px);
}

.quiz-creation__success {
  display: flex;
  flex-direction: column;
}

.quiz-creation__success .quiz-preview {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.quiz-creation__success button {
  width: 221px;
  max-width: 221px;
  transform: none;
  font-size: 18px;
  padding: 13px 0;
  /* margin: 0 auto; */
}

.quiz-creation__success button:last-child {
  background-color: #fafafa;
  color: #818181;
}

/*---- Utility ----*/

.loader-div {
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader {
  margin: 0 auto 30px auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #EC362D;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.loader-div span{
  font-weight: 700;
  font-size: 25px;
  color: #EC362D;
}



.hidden {
  display: none;
}

.changeOpacity {
  opacity: 0.3;
}

.wrongAnswer span{
  color:#FF4B4B;
}

.correctColor span{
  color: #009C22;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media(max-width:759px){

  .answers {
    /* ou auto, gostaria que a imagem mantesse a mesma  */
    height: auto;
  }

  .answers span{
    font-size: 13px;
  }

  .answer-quizz__question-tittle--1 h4,
  .answer-quizz__question-tittle--2 h4,
  .answer-quizz__question-tittle--3 h4,
  .answer-quizz__question-tittle--4 h4,
  .answer-quizz__question-tittle--5 h4,
  .answer-quizz__question-tittle--6 h4 {
  font-size: 19px;
  }

  .answer-quizz__question-tittle--1,
  .answer-quizz__question-tittle--2,
  .answer-quizz__question-tittle--3,
  .answer-quizz__question-tittle--4,
  .answer-quizz__question-tittle--5,
  .answer-quizz__question-tittle--6 {
    height: 89px;
  }

  .answer-quizz__header h3 {
  font-size: 19px;
  }

  .quizz-result {
    margin-bottom: 34px;
  }

  .quizz-result__level {
    display: flex;
    flex-direction: column;
  }

  .quizz-result__level img {
    width: 100%;
    object-fit: cover;
  }

  .quizz-result__header{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quizz-result__header h4{
    font-size: 19px;
    margin: 0 10px;
  }

  .quizz-result__level span {
    margin: 10px 0 10px 0;
  }
 
  button.answer-quizz__play-again-button{
    width: 220px;
    height: 44px;
    font-size: 18px;
  }

  .answer-quizz__home-button {
    font-size: 18px;
  }

}