/*---- General ----*/
* {
  box-sizing: border-box;
}

:root {
  --text-color: red;
}

body {
  font-family: Roboto;
  background-color: #fafafa;
}

section {
  margin-top: 100px;
}

/*---- Header ----*/
header {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  left: 0;
  min-height: 69px;
  background-color: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 37px;
  color: #ffffff;
}

/*---- Quizzes page ----*/
.user-quizzes-list h2,
.all-quizzes-list h2 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

.all-quizzes-list h2 {
  margin-bottom: 14px;
}

.user-quizzes-list {
  margin: 0 auto 38px auto;
  width: 340px;
}

.all-quizzes-list {
  margin: 0 auto;
  width: 340px;
  padding-bottom: 20px;
}

.user-quizzes-list ul,
.all-quizzes-list ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.user-quizzes-list__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 13px;
}

.user-quizzes-list__header ion-icon {
  color: #ec362d;
  width: 31px;
  height: 31px;
}

.user-quizzes-list__empty-list {
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 340px;
  height: 181px;
  padding: 0 50px;
}

.user-quizzes-list__empty-list p {
  font-family: Roboto;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #b9b9b9;
  font-style: normal;
  font-weight: normal;
}

.user-quizzes-list__empty-list button {
  border: 1px dashed #ec362d;
  background: none;
  color: #ec362d;
  border-radius: 20px;
  font-family: Roboto;
  font-size: 21px;
  line-height: 25px;
  padding: 5px 10px;
}

.quizz-preview {
  border-radius: 5px;
  width: 340px;
  height: 181px;
  position: relative;
}

.quizz-preview img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quizz-preview__linear-gradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
  );
  /* background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)); */
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 18px 10px 18px;
  position: absolute;
  top: 0;
  left: 0;
}

.quizz-preview p {
  font-family: Roboto;
  font-size: 19px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 400;
  max-width: 100%;
  overflow: hidden;
}

.quizz-preview__options {
  height: 87px;
  width: 43px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0px 0px 11px;
  background-color: #ec362d;
  position: absolute;
  top: 9px;
  right: 0;
  gap: 15px;
  padding-top: 10px;
  /* padding: 9px 12px; */
}

.quizz-preview ion-icon {
  color: white;
  height: 25px;
  width: 25px;
  z-index: 1;
}

/*---- Answer quizz page ----*/
section.answer-quizz {
  margin-top: 69px;
}

.answer-quizz__header {
  position: relative;
  width: 100%;
  height: 142px;
  margin: 0 auto 24px auto;
}

.answer-quizz__header img {
  height: 142px;
  width: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

.answer-quizz__header h3 {
  font-size: 39px;
  font-weight: 400;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

section.answer-quizz div.questions--1,
section.answer-quizz div.questions--2,
section.answer-quizz div.questions--3,
section.answer-quizz div.questions--4,
section.answer-quizz div.questions--5,
section.answer-quizz div.questions--6 {
  background-color: #ffffff;
  width: 100%;
  max-width: 759px;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.answer-quizz__question-tittle--1,
.answer-quizz__question-tittle--2,
.answer-quizz__question-tittle--3,
.answer-quizz__question-tittle--4,
.answer-quizz__question-tittle--5,
.answer-quizz__question-tittle--6 {
  background-color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 759px;
  margin-bottom: 10px;
  width: 100%;
  height: 138px;
}

.answer-quizz__question-tittle--1 h4,
.answer-quizz__question-tittle--2 h4,
.answer-quizz__question-tittle--3 h4,
.answer-quizz__question-tittle--4 h4,
.answer-quizz__question-tittle--5 h4,
.answer-quizz__question-tittle--6 h4 {
  font-weight: 700;
  font-size: 23px;
  color: #ffffff;
  word-break: break-word;
  text-align: center;
}

.answer-quizz__answers--1,
.answer-quizz__answers--2,
.answer-quizz__answers--3,
.answer-quizz__answers--4,
.answer-quizz__answers--5,
.answer-quizz__answers--6 {
  display: flex;
  flex-wrap: wrap;
  /* Se quiser deixar a terceira opção no meio é só mudar essa propriedade para center */
  justify-content: space-between;
  gap: 1px;
}

.answers {
  width: 49%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

.answers img {
  width: 100%;
  height: 100%;
  aspect-ratio: 15 / 8;
  /* Se eu tirar o height, tem algumas imagens que bugam ficando umas mais largas que outras */
  object-fit: cover;
  margin-bottom: 8px;
}

.answers span {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  word-break: break-word;
  align-self: flex-start;
  margin-bottom: 10px;
}

.quizz-result {
  padding: 15px;
  width: 100%;
  max-width: 759px;
  margin: 0 auto 57px auto;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

div.quizz-result__header {
  width: 100%;
  height: 99px;
  margin: 0 auto;
  background: #ec362d;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.quizz-result__header h4 {
  font-weight: 700;
  font-size: 23px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  word-break: break-word;
}

.quizz-result__level {
  display: flex;
}

.quizz-result__level img {
  width: 50%;
  object-fit: cover;
}

.quizz-result__level span {
  font-size: 19px;
  font-weight: 700;
  color: #484848;
  margin-left: 15px;
  word-break: break-word;
}

div.answer-quizz__buttons {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button.answer-quizz__play-again-button {
  width: 261px;
  height: 52px;
  background-color: #ec362d;
  border-radius: 15px;
  border: none;
  color: #fff5f4;
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 16px;
}

.answer-quizz__home-button {
  border: none;
  font-size: 21px;
  font-weight: 400;
  color: #818181;
  background-color: #fafafa;
  margin-bottom: 30px;
}

/*---- Create quiz page ----*/
.quiz-creation {
  /* min-width: 375px; */
  width: 100vw;
  max-width: 600px;
  margin: 100px auto 0 auto;
  padding-bottom: 20px;
}

.quiz-creation > div > h2 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin: 0 auto 29px auto;
  text-align: center;
}

.quiz-creation form {
  background-color: #ffffff;
  padding: 20px 17px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 29px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.quiz-creation__questions form,
.quiz-creation__levels form {
  gap: 14px;
}

.quiz-creation__questions form ion-icon,
.quiz-creation__levels form ion-icon {
  display: none;
}

.quiz-creation__questions--large-margin-bottom {
  margin-bottom: 18px;
}

.quiz-creation input {
  border-radius: 5px;
  background-color: #ffffff;
  border: #ec362d;
  border: 1px solid #d1d1d1;
  font-size: 19px;
  font-weight: 400;
  height: 46px;
  padding-left: 10px;
}

.quiz-creation input::placeholder {
  font-style: italic;
  color: #bababa;
}

.quiz-creation textarea {
  border-radius: 5px;
  background-color: #ffffff;
  border: #ec362d;
  border: 1px solid #d1d1d1;
  font-size: 19px;
  font-weight: 400;
  height: 177px;
  padding-left: 10px;
  resize: none;
  font-family: Roboto;
}

.quiz-creation textarea::placeholder {
  font-style: italic;
  color: #bababa;
}
.quiz-creation h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

.quiz-creation button {
  border-radius: 15px;
  border: none;
  background-color: #ec362d;
  color: #fff5f4;
  font-size: 20px;
  padding: 18px 0;
  text-align: center;
  width: calc(100vw - 50px);
  max-width: 550px;
  margin: 0 auto;
  transform: translateX(25px);
}

.quiz-creation__success {
  display: flex;
  flex-direction: column;
}

.quiz-creation__success .quizz-preview {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.quiz-creation__success button {
  width: 221px;
  max-width: 221px;
  transform: none;
  font-size: 18px;
  padding: 13px 0;
  /* margin: 0 auto; */
}

.quiz-creation__success button:last-child {
  background-color: #fafafa;
  color: #818181;
}

.quiz-creation form {
  max-height: 3000px;
}

.quiz-creation__questions .form--accordion,
.quiz-creation__levels .form--accordion {
  max-height: 74px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.quiz-creation__questions .form--accordion ion-icon,
.quiz-creation__levels .form--accordion ion-icon {
  display: block;
  font-size: 25px;
}

.form--accordion input,
.form--accordion textarea,
.form--accordion p {
  display: none;
}

.form--accordion h2 {
  display: none;
}

.form--accordion h2:first-of-type {
  display: block;
}

.quiz-creation .quiz-creation__input--validation-error {
  background-color: #ffe9e9;
}

.quiz-creation .quiz-creation__p--validation-error {
  font-size: 16px;
  color: #ec362d;
}

input:-internal-autofill-selected.quiz-creation__input--validation-error {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0), inset 0 0 0 100px #ffe9e9;
}

/*---- Utility ----*/

.loader-div {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader-div .pacman {
  margin-left: 28px;
}

.loader-div span {
  font-weight: 700;
  font-size: 26px;
  color: #ec362d;
  text-align: center;
}

.hidden {
  display: none;
}

.changeOpacity {
  opacity: 0.3;
}

.wrongAnswer span {
  color: #ff4b4b;
}

.correctColor span {
  color: #009c22;
}

@media (max-width: 759px) {
  .answers span {
    font-size: 13px;
    margin-bottom: 8px;
  }

  .answers img {
    height: auto;
    aspect-ratio: 10 / 7;
    margin-bottom: 5px;
  }

  .answer-quizz__question-tittle--1 h4,
  .answer-quizz__question-tittle--2 h4,
  .answer-quizz__question-tittle--3 h4,
  .answer-quizz__question-tittle--4 h4,
  .answer-quizz__question-tittle--5 h4,
  .answer-quizz__question-tittle--6 h4 {
    font-size: 19px;
  }

  .answer-quizz__question-tittle--1,
  .answer-quizz__question-tittle--2,
  .answer-quizz__question-tittle--3,
  .answer-quizz__question-tittle--4,
  .answer-quizz__question-tittle--5,
  .answer-quizz__question-tittle--6 {
    height: 89px;
  }

  .answer-quizz__header h3 {
    font-size: 19px;
  }

  .quizz-result {
    margin-bottom: 34px;
  }

  .quizz-result__level {
    display: flex;
    flex-direction: column;
  }

  .quizz-result__level img {
    width: 100%;
    object-fit: cover;
  }

  .quizz-result__header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quizz-result__header h4 {
    font-size: 19px;
    margin: 0 10px;
  }

  .quizz-result__level span {
    margin: 10px 0 10px 0;
  }

  button.answer-quizz__play-again-button {
    width: 220px;
    height: 44px;
    font-size: 18px;
  }

  .answer-quizz__home-button {
    font-size: 18px;
  }
}

@media (min-width: 1100px) {
  .quiz-list {
    width: 73vw;
    margin-left: auto;
    margin-right: auto;
  }

  .user-quizzes-list__empty-list {
    width: 100%;
  }

  .user-quizzes-list__header {
    justify-content: flex-start;
    gap: 17px;
  }

  .user-quizzes-list,
  .all-quizzes-list {
    margin: 0 0 0 0;
    width: inherit;
  }

  .user-quizzes-list {
    margin-bottom: 48px;
  }

  .user-quizzes-list ul,
  .all-quizzes-list ul {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
  }

  .user-quizzes-list ul {
    justify-content: left;
  }
}
